/*font-face*/
@font-face { font-family: 'gc-icon-font'; src: url('../fonts/gc-icon-font.eot'); src: url('../fonts/gc-icon-font.eot') format('embedded-opentype'), url('../fonts/gc-icon-font.woff') format('woff'), url('../fonts/gc-icon-font.ttf') format('truetype'), url('../fonts/gc-icon-font.svg') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'overwatch'; src: url('../fonts/overwatch.eot'); src: url('../fonts/overwatch.eot') format('embedded-opentype'), url('../fonts/overwatch.ttf') format('truetype'), url('../fonts/overwatch.woff') format('woff'), url('../fonts/overwatch.svg') format('svg'); font-weight: normal; font-style: normal; }

/*icon*/
[class^="icon-"], [class*=" icon-"] { font-family: "gc-icon-font"; font-style: normal; font-weight: normal; speak: none; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
[class^="ico-"], [class*=" ico-"] { font-family: "overwatch"; font-style: normal; font-weight: normal; speak: none; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.icon-wow:before { content: '\e810'; }
.icon-sc2:before { content: '\e811'; }
.icon-d3:before { content: '\e812'; }
.icon-blizz:before { content: '\e813'; }
.icon-hs:before { content: '\e814'; }
.icon-hot:before { content: '\e815'; }
.ico-ow:before { content: '\e600'; }

/*animate*/
@-webkit-keyframes float {
	0%, 100% { -webkit-transform: translate3d(0, 0, 0) rotate(0); transform: translate3d(0, 0, 0) rotate(0); }
	50% { -webkit-transform: translate3d(0, 10px, 0) rotate(-2deg); transform: translate3d(0, 10px, 0) rotate(-2deg); }
}
@keyframes float {
	0%, 100% { -webkit-transform: translate3d(0, 0, 0) rotate(0); transform: translate3d(0, 0, 0) rotate(0); }
	50% { -webkit-transform: translate3d(0, 10px, 0) rotate(-2deg); transform: translate3d(0, 10px, 0) rotate(-2deg); }
}
@-webkit-keyframes horizonal {
	0% { transform: translate3d(1500%, 0, 0) }
	8% { transform: translate3d(2000%, 0, 0) }
	22% { transform: translate3d(-750%, 0, 0) }
	35% { transform: translate3d(2000%, 0, 0) }
	42% { transform: translate3d(-1000%, 0, 0) }
	50% { transform: translate3d(-3000%, 0, 0) }
	57% { transform: translate3d(1650%, 0, 0) }
	72% { transform: translate3d(3300%, 0, 0) }
	80% { transform: translate3d(-500%, 0, 0) }
	93% { transform: translate3d(-3750%, 0, 0) }
	100% { transform: translate3d(1500%, 0, 0) }
}
@keyframes horizonal {
	0% { -webkit-transform: translate3d(1500%, 0, 0) }
	8% { -webkit-transform: translate3d(2000%, 0, 0) }
	22% { -webkit-transform: translate3d(-750%, 0, 0) }
	35% { -webkit-transform: translate3d(2000%, 0, 0) }
	42% { -webkit-transform: translate3d(-1000%, 0, 0) }
	50% { -webkit-transform: translate3d(-3000%, 0, 0) }
	57% { -webkit-transform: translate3d(1650%, 0, 0) }
	72% { -webkit-transform: translate3d(3300%, 0, 0) }
	80% { -webkit-transform: translate3d(-500%, 0, 0) }
	93% { -webkit-transform: translate3d(-3750%, 0, 0) }
	100% { -webkit-transform: translate3d(1500%, 0, 0) }
}
@-webkit-keyframes hang {
	0%, 100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	50% { -webkit-transform: translate3d(0, 15px, 0); transform: translate3d(0, 15px, 0); }
}
@keyframes hang {
	0%, 100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
	50% { -webkit-transform: translate3d(0, 15px, 0); transform: translate3d(0, 15px, 0); }
}
@-webkit-keyframes spin {
	from { transform: rotateZ(0deg); }
	to { transform: rotateZ(360deg); }
}
@keyframes spin {
	from { transform: rotateZ(0deg); }
	to { transform: rotateZ(360deg); }
}
@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}
@keyframes bouncedelay {
	0%, 80%, 100% { transform: scale(0.0); -webkit-transform: scale(0.0); }
	40% { transform: scale(1.0); -webkit-transform: scale(1.0); }
}
.underline-left { display: inline-block; vertical-align: middle; -webkit-transform: translateZ(0); transform: translateZ(0); -moz-osx-font-smoothing: grayscale; position: relative; overflow: hidden; }
.underline-left:before { content: ""; position: absolute; z-index: -1; left: 0; right: 100%; bottom: 0; background: #29A9FF; height: 2px; -webkit-transition-property: right; transition-property: right; -moz-transition-property: right; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -moz-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; -moz-transition-timing-function: ease-out; }
.underline-left:hover:before, .underline-left:focus:before, .underline-left:active:before { right: 0; }

/*Default Style*/
body { background: url(../img/v/bg2.jpg) center top no-repeat #000; background-size: auto; font-family: "Microsoft Yahei"; margin: 0; }
ul, li, ol, table, button, a { margin: 0; padding: 0 }
a { text-decoration: none; }
h1 { font-size: 20px; line-height: 40px }
h2 { font-size: 16px; line-height: 24px }

/* clear float */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden }
.clearfix { display: inline-block }
* html .clearfix { height: 1% }
.clearfix { display: block }

/*Page Elements*/
.header { width: 100%; position: fixed; left: 0; top: 0; height: 60px; z-index: 9; -webkit-transition: top .5s; transition: top .5s; }
.nav-hide { top: -60px }
.nav-show { top: 0; }
.header .nav { width: 1000px; position: relative; margin: 0 auto; height: 60px }
.header .nav .nav-btn { color: #E8F2FF; margin-left: -18px; position: relative; text-align: center; font-size: 18px; font-weight: bold; width: 105px; height: 60px; display: inline-block; line-height: 60px; background: url(../img/v/navas.png) center no-repeat; text-shadow: 0 0 2px #E8F2FF; }
.header .nav .nav-btn:hover, .header .nav .cur { background: url(../img/v/navas-f.png) center no-repeat; color: #27446E; -webkit-transition: background ease-in-out .5s; transition: background ease-in-out .5s; text-shadow: 0 0 2px #27446E; }
.header .nav-left { float: left; margin-left: 192px }
.header .home-logo { color: #E8F2FF; text-shadow: 0 0 10px #E8F2FF; float: left; width: 60px; height: 60px; background: url(../img/v/centers-n.png) center; text-align: center }
.header .home-logo:hover { color: #E8F2FF; background: url(../img/v/centers-hover.png) center; -webkit-transition: background ease-in-out .5s; transition: background ease-in-out .5s }
.header .home-logo span { position: relative; top: 12px }
.header .nav-right { float: left; margin-left: 20px }
.pin { color: #E8F2FF; width: 60px; height: 60px; background: url(../img/v/centers-n.png) center; text-align: center; position: fixed; left: 50%; margin-left: -38px; top: -60px; -webkit-transition: top .5s; transition: top .5s; z-index: 999; cursor: pointer; }
.pin-show { top: 0 }
.pin-hide { top: -60px }
.pin span { position: relative; top: 12px }
.pin:hover { color: #E8F2FF; background: url(../img/v/centers-hover.png) center; -webkit-transition: background ease-in-out .5s; transition: background ease-in-out .5s }
.bg-animate { width: 100%; height: 310px; position: absolute; overflow: hidden; z-index: -1; top: 340px; left: 0 }
.bg-animate .rect1 { width: 20px; height: 10px; left: 50%; top: 20px; background: #E8F2FF; position: absolute; -webkit-animation: horizonal 30s 0s ease-in-out infinite; animation: horizonal 30s 0s ease-in-out infinite; }
.bg-animate .rect2 { width: 50px; height: 6px; left: 50%; top: 300px; background: #E8F2FF; position: absolute; -webkit-animation: horizonal 50s 0s ease-in-out infinite; animation: horizonal 50s 0s ease-in-out infinite; }
.bg-animate .rect3 { width: 40px; height: 10px; left: 50%; top: 120px; background: #E8F2FF; position: absolute; -webkit-animation: horizonal 40s 0s ease-in-out infinite; animation: horizonal 40s 0s ease-in-out infinite; }
.wrap { width: 1000px; height: auto; margin: 0 auto; margin-top: 60px; z-index: 1 }
.wrap .banner { width: 1000px; height: 220px; position: relative; }
.wrap .banner #logo { position: relative; top: 20px; left: 392px }
.wrap .banner .frag { position: relative; background-image: url(../img/banner1.png); background-repeat: no-repeat; z-index: 7 }
.wrap .banner .wow1 { width: 90px; height: 200px; background-position: 0px -0px; top: -180px; left: 30px; -webkit-animation: float 4.7s 0s ease-in-out infinite; animation: float 4.7s 0s ease-in-out infinite; }
.wrap .banner .wow2 { width: 90px; height: 100px; background-position: -180px -4px; top: -380px; left: 630px; -webkit-animation: float 3.7s 0s ease-in-out infinite; animation: float 3.7s 0s ease-in-out infinite; }
.wrap .banner .ow1 { width: 140px; height: 120px; background-position: -400px -5px; top: -400px; left: 150px; -webkit-animation: float 2.4s 0s ease-in-out infinite; animation: float 2.4s 0s ease-in-out infinite; }
.wrap .banner .ow2 { width: 100px; height: 200px; background-position: -305px -5px; top: -610px; left: 900px; -webkit-animation: float 3.3s 0s ease-in-out infinite; animation: float 3.3s 0s ease-in-out infinite; }
.wrap .banner .sc { width: 120px; height: 120px; background-position: -90px -120px; top: -830px; left: 230px; -webkit-animation: float 4.1s 0s ease-in-out infinite; animation: float 4.1s 0s ease-in-out infinite; }
.wrap .banner .hs { width: 90px; height: 90px; background-position: -210px -115px; top: -900px; left: 780px; -webkit-animation: float 3.9s 0s ease-in-out infinite; animation: float 3.9s 0s ease-in-out infinite; }
.wrap .banner .d3 { width: 100px; height: 110px; background-position: -90px -11px; top: -910px; left: 700px; -webkit-animation: float 2.8s 0s ease-in-out infinite; animation: float 2.8s 0s ease-in-out infinite; }
.wrap .focus { width: 1000px; height: 400px; position: relative; background: linear-gradient(to bottom, rgba(13, 36, 72, 0.5) 0%, rgba(232, 242, 255, 0.2) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D2448', endColorstr='#E8F2FF', GradientType=0) alpha(opacity=50); }
.wrap .top { width: 1000px; height: 40px; background: url(../img/v/top.png); text-align: center; color: #91C6FF; box-shadow: 0px 0px 10px #ffffff; margin-top: 20px }
.wrap .focus .slide { float: left; position: relative; width: 500px; height: 300px; margin: 40px 0px 40px 20px }
.wrap .focus .slide li { list-style: none; width: 500px; height: 300px }
.wrap .focus .slide .text { width: 500px; height: 50px; padding-top: 245px; text-align: center; }
.wrap .focus .slide .text img { display: none }
.wrap .focus .slide .text p { font-size: 26px; color: #E8F2FF; margin: 0; background: rgba(0, 0, 0, 0.5); }
.wrap .focus .slide .dots { position: absolute; left: 206px; bottom: 0px; width: 88px; }
.wrap .focus .slide .dots li { display: inline-block; *display: inline; zoom: 1; width: 10px; height: 10px; line-height: 10px; margin: 0 4px; text-indent: -999em; *text-indent: 0; border: 2px solid #fff; border-radius: 6px; cursor: pointer; opacity: .4; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s; }
.wrap .focus .slide .dots li.active { background: #fff; opacity: 1; }
.wrap .focus .slide .prev { position: absolute; left: 0; top: 50% }
.wrap .focus .slide .next { position: absolute; right: 0; top: 50% }
.wrap .focus .slide .btn-slide { color: #29A9FF; opacity: 0; -webkit-transition: opacity ease-in-out .5s; transition: opacity ease-in-out .5s }
.wrap .focus .slide:hover .btn-slide { opacity: 0.5; }
.wrap .focus .slide .btn-slide:hover { opacity: 1 }
.wrap .focus .slide-shadow { width: 500px; height: 30px; background: url(../img/slide-shadow.png) center; position: absolute; left: 20px; top: 360px }
.wrap .focus .schedule { float: right; position: relative; width: 440px; height: 300px; background: #27446E; margin: 40px 20px 40px 20px }
.wrap .focus .schedule .date-btn { width: 216px; background: #2B3B53; height: 30px; float: left; border: 2px solid #0D2448; border-bottom: 0; text-align: center; font-size: 18px; color: #E8F2FF; font-weight: bold; line-height: 30px; cursor: pointer; -webkit-transition: background ease-in-out .5s; transition: background ease-in-out .5s }
.wrap .focus .schedule .date-btn:hover, .wrap .focus .schedule .cur { background: #29A9FF }
.wrap .focus .schedule .table { overflow: auto; height: 268px; text-align: left; color: #E8F2FF }
.wrap .focus .schedule .table p { margin: 0; padding: 0; color: #E8F2FF }
.wrap .focus .schedule .table .time { font-size: 40px; font-family: Impact "Microsoft Yahei"; color: #29A9FF; text-align: center; }
.wrap .focus .schedule .table .title { margin-left: 10px; margin-bottom: 10px; font-size: 18px }
.wrap .focus .schedule .table .detail { margin-left: 10px; font-size: 14px; color: #29A9FF }
.wrap .focus .schedule-shadow { width: 440px; height: 30px; background: url(../img/schedule-shadow.png) center; position: absolute; right: 20px; top: 360px }
.wrap .content { width: 1000px; position: relative; }
.wrap .content .news { float: left; width: 750px; height: auto }
.wrap .content #all-tiles, .wrap .content #wow-tiles, .wrap .content #hs-tiles, .wrap .content #hot-tiles, .wrap .content #d3-tiles, .wrap .content #sc2-tiles, .wrap .content #ow-tiles { position: relative; }
.wrap .content .news .filter { height: 80px; text-align: center; background: rgba(13, 36, 72, 0.5); padding-left: 81px; }
.wrap .content .news .filter .filter-item { font-size: 30px; line-height: 60px; width: 60px; height: 60px; display: block; float: left; margin: 20px 10px 0 10px; color: #ffffff; text-shadow: 0px 0px 10px #ffffff; background: url(../img/v/centers.png); cursor: pointer; }
.wrap .content .news .filter .cur { color: #29A9FF; text-shadow: 0px 0px 3px #29a9ff; }
.wrap .content .news .filter .filter-item [class^="icon-"] { }
.wrap .content .news .filter .filter-item [class^="icon-"]:before, .filter-item [class*=" icon-"]:before { margin-right: 0; }
.wrap .content .news .tiles { width: 750px; background: linear-gradient(to bottom, rgba(13, 36, 72, 0.5) 0%, rgba(232, 242, 255, 0.2) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0D2448', endColorstr='#E8F2FF', GradientType=0) alpha(opacity=50); }
.wrap .content .news .tiles .preloader { width: 150px; height: 180px; margin: 0px auto; display: none }
.wrap .content .news .tiles .preloader .loadding { position: relative; width: 140px; height: 140px; margin: 0 auto; background: url(../img/preloader.png)center center no-repeat; }
.wrap .content .news .tiles .preloader .loadding:after { content: ""; position: absolute; top: 20px; left: 20px; width: 100px; height: 100px; border-top: solid 3px #91C6FF; border-bottom: solid 3px #91C6FF; border-radius: 100%; -webkit-animation: spin 2s 0s linear infinite; animation: spin 2s 0s linear infinite; }
.wrap .content .news .tiles .preloader .progress-bar { width: 150px; height: 8px; background: #fff; margin: 5px auto; border: 2px solid #0D2448; }
.wrap .content .news .tiles .preloader .progress-bar .instance { height: 8px; background: #91C6FF }
.wrap .content .news li { list-style: none; display: none; background: #E8F2FF; width: 230px; border-radius: 5px; padding: 3px; -webkit-transition: background ease-in-out .5s; transition: background ease-in-out .5s }
.wrap .content .news .pica { width: 230px; height: auto; overflow: hidden; }
.wrap .content .news img { -webkit-transition: 1.0s; transition: 1.0s; width: 230px; height: auto }
.wrap .content .news li:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }
.wrap .content .news h2, .wrap .content .news p { margin: 5px 2px 0px 2px; padding: 0 }
.wrap .content .news a { color: #27446E }
.wrap .content .news h2:hover a { color: #29A9FF }
.wrap .content .news .detail { color: #666; font-size: 14px }
.wrap .content .news .info { color: #666; font-size: 14px; line-height: 40px }
.wrap .content .news .info .vline { margin: 0 10px 0 10px; color: #ccc }
.wrap .content .news .share-btn { background-image: url(../img/v/centers-hover.png); background-size: 100%; width: 40px; height: 40px; display: inline-block; color: #0D2448; line-height: 40px; font-size: 16px; text-align: center; display: none; cursor: pointer; position: absolute; right: 0px; bottom: 0px; z-index: 7 }
.wrap .content .news .share-group { background: url(../img/v/centers-hover.png); background-size: 100%; width: 60px; height: 60px; z-index: 5; display: none; cursor: pointer; line-height: 56px; font-size: 24px; text-align: center; color: #0D2448; -webkit-transition: background ease-in-out .5s, color ease-in-out .5s; transition: background ease-in-out .5s, color ease-in-out .5s }
.wrap .content .news .share-group a { color: #0D2448 }
.wrap .content .news .share-group:hover { background: url(../img/v/centers-n.png); color: #E8F2FF; }
.wrap .content .news .share-group:hover a { color: #E8F2FF }
.wrap .content .news .weibo { position: absolute; right: 45px; bottom: 113px; }
.wrap .content .news .close { position: absolute; right: 90px; bottom: 87px; }
.wrap .content .news .qzone { position: absolute; right: 135px; bottom: 113px; }
.wrap .content .news .wechat { position: absolute; right: 45px; bottom: 164px; }
.wrap .content .news .like { position: absolute; right: 135px; bottom: 164px; }
.wrap .content .news .like .fa-heart { position: absolute; right: 19px; bottom: 17px; }
.wrap .content .news .tencent { position: absolute; right: 90px; bottom: 192px; }
.wrap .content .news .plus { position: absolute; right: 145px; bottom: 170px; color: #C00008; z-index: 6; font-size: 14px; font-weight: bold; display: none }
.wrap .content .news .more-btn { display: none; background: rgba(232, 242, 255, 0.7); width: 750px; height: 40px; text-align: center; line-height: 40px; font-size: 20px; font-weight: bold; color: #27446E; cursor: pointer; -webkit-transition: background ease-in-out .5s, color ease-in-out .5s; transition: background ease-in-out .5s, color ease-in-out .5s }
.wrap .content .news .more-btn p { margin: 0; padding: 0 }
.wrap .content .news .more-btn:hover { background: #E8F2FF; color: #0D2448 }
.spinner { margin: 0 auto; width: 150px; text-align: center; display: none }
.spinner > div { width: 20px; height: 20px; background-color: #27446E; border-radius: 100%; display: inline-block; -webkit-animation: bouncedelay 1.4s infinite ease-in-out; animation: bouncedelay 1.4s infinite ease-in-out;  /* Prevent first frame from flickering when animation starts */ -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }
.wrap .content .rank { float: right; width: 250px; background: #E8F2FF; background: linear-gradient(to right, #27446E 0%, #E8F2FF 5%); text-align: center; color: #27446E; font-weight: bold }
.wrap .content .rank .top-group .week-btn { float: left; width: 60px; height: 60px; background: url(../img/v/centers.png) center no-repeat; margin: 20px -3px 0 23px; line-height: 60px; font-size: 22px; cursor: pointer; }
.wrap .content .rank .top-group .title { float: left; width: 104px; height: 38px; margin: 31px 0 0 -10px; line-height: 38px; font-size: 18px; background: url(../img/v/hline.png) center no-repeat; }
.wrap .content .rank .top-group .month-btn { float: left; width: 60px; height: 60px; background: url(../img/v/centers.png) center no-repeat; margin: 20px 20px 0 -13px; line-height: 60px; font-size: 22px; cursor: pointer; }
.wrap .content .rank .top-group .cur { background: url(../img/v/centers-hover.png) center no-repeat; -webkit-transition: background ease-in-out .5s; transition: background ease-in-out .5s }
.wrap .content .rank .rank-content { width: 210px; height: auto; margin: 0px 20px 0 20px; padding-bottom: 20px; text-align: left; }
.wrap .content .rank .rank-content li { list-style: none; line-height: 24px; font-size: 12px; margin-top: 5px; border-bottom: 1px solid #ccc }
.wrap .content .rank .rank-content a { color: #27446E }
.wrap .content .rank .rank-content a:hover { color: #29A9FF }
.wrap .content .rank .rank-content span { margin-right: 3px; width: 24px; height: 24px; background-image: url(../img/v/centers.png); background-size: 100%; display: inline-block; text-align: center; }
.wrap .content .rank .rank-content .numbg1 { color: #E8F2FF; background-image: url(../img/numbg1.png); background-size: 100%; }
.wrap .content .rank .rank-content .numbg2 { color: #E8F2FF; background-image: url(../img/numbg2.png); background-size: 100%; }
.wrap .content .rank .rank-content .numbg3 { color: #E8F2FF; background-image: url(../img/numbg3.png); background-size: 100%; }
.wrap .content .rank .float-bottom { float: right; width: 250px; height: 10px; background: url(../img/v/top.png) }
.wrap .content .adv { float: right; width: 250px; height: 250px; position: relative; }
.wrap .content .adv:hover { -webkit-animation: hang 2s 0s ease-in-out infinite; animation: hang 2s 0s ease-in-out infinite; }
.wrap .content .top-btn { position: fixed; opacity: 0; bottom: 0; margin-left: 936px; width: 60px; height: 60px; color: #E8F2FF; font-size: 40px; border: 2px solid #E8F2FF; border-radius: 100%; text-align: center; cursor: pointer; -webkit-transition: opacity ease-in-out .5s; transition: opacity ease-in-out .5s }

/*Match Page*/
.p-wrap { width: 1000px; height: 650px; margin: 0 auto; background: #27446E; background: rgba(39, 68, 110, 0.5); filter: alpha(opacity=50); }
.p-wrap .filter-stream { height: 80px; text-align: center; margin: 0 auto; width: 400px }
.p-wrap .filter-stream .filter-item-stream, .p-wrap .filter-match .filter-item-match { font-size: 30px; line-height: 60px; width: 60px; height: 60px; display: block; float: left; margin: 20px 10px 0 10px; color: #ffffff; text-shadow: 0px 0px 10px #ffffff; background: url(http://wow.tgbus.com/special/blizzcon2015/img/v/centers.png); cursor: pointer; }
.p-wrap .filter-stream .cur, .p-wrap .filter-match .cur { color: #29A9FF; text-shadow: 0px 0px 3px #29a9ff; }
.p-wrap .filter-stream .filter-item-stream, .p-wrap .filter-match .filter-item-match [class^="icon-"] { }
.p-wrap .filter-stream .filter-item-stream, .p-wrap .filter-match .filter-item-match [class^="icon-"]:before, .filter-item [class*=" icon-"]:before { margin-right: 0; }
.p-wrap .stream-wrapper { width: 880px; height: 495px; margin: 20px auto 0 auto; box-shadow: 0px 0px 6px #FFFFFF; border: 4px solid #91C6FF }
.p-wrap .filter-match { height: 80px; text-align: center; margin: 0 auto; width: 320px }
.p-wrap .chart { width: 1000px; height: 550px; margin: 20px auto }
.p-wrap .chart #hs{display: none}
/*SVG Elements*/
.nodeRect { fill: rgb(232, 242, 255); stroke: #91C6FF; stroke-width: 4px; rx: 20px; ry: 20px;width: 80px;height: 40px; }
text { font-size: 14px; font-weight: bold ;opacity: 1}
.link { fill: none; stroke: #ccc; stroke-width: 2px}

/*Media Page*/
.wrap-pic a,.wrap-video a { text-decoration: none; color: #E8F2FF }
.wrap-pic h1,.wrap-video h1 { font-size: 20px; line-height: 40px }
.wrap-pic h2,.wrap-video h2 { font-size: 16px; line-height: 24px }
.wrap-video p{margin: 0;padding: 0}
.wrap-pic { width: 1000px; height: 380px; margin: 0 auto; background: #27446E; background: rgba(39, 68, 110, 0.5);position: relative; filter: alpha(opacity=50); }
.more { position: absolute; top: 0; right: 10px; line-height: 40px; font-weight: bold; }
.more:hover a { color: #91C6FF; -webkit-transition: color ease-in-out .5s; transition: color ease-in-out .5s }
.wrap-pic .pic-list { margin: 20px; position: relative; height: 300px }
.wrap-pic .pic-list .pica { overflow: hidden; position: absolute; }
.wrap-pic .pic-list .pica img { width: 100%; height: 100%; z-index: 1; -webkit-transition: 1.0s; transition: 1.0s; }
.wrap-pic .pic-list .pica:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }
.wrap-pic .pic-list .pica .title { position: absolute; bottom: 0; height: 60px; width: 100%; background-color: rgba(0, 0, 0, 0.8); z-index: 2; -webkit-transition: 1.0s; transition: 1.0s; }
.wrap-pic .pic-list .pica .title .detail { display: none; font-size: 14px; color: #888 }
.wrap-pic .pic-list .pica:hover .title { height: 100%; -webkit-transform: height(100%); transform: height(100%); }
.wrap-pic .pic-list .pica .title p { margin: 0 5px; }
.wrap-pic .pic-list .pica:hover .detail { display: block }
.wrap-pic .pic-list #num1 { width: 480px; height: 300px; top: 0; left: 0 }
.wrap-pic .pic-list #num2, .wrap-pic .pic-list #num3, .wrap-pic .pic-list #num4, .wrap-pic .pic-list #num5 { width: 240px; height: 150px }
.wrap-pic .pic-list #num2 { top: 0; left: 480px; }
.wrap-pic .pic-list #num3 { top: 150px; left: 480px; }
.wrap-pic .pic-list #num4 { top: 0; left: 720px; }
.wrap-pic .pic-list #num5 { top: 150px; left: 720px; }
.wrap-video { width: 1000px; height: 490px; margin: 0 auto; background: #27446E; background: rgba(39, 68, 110, 0.5); margin-top: 80px; position: relative; filter: alpha(opacity=50); }
.wrap-video .video-list { margin: 10px 0 }
.wrap-video .video-list .pic-frame { overflow: hidden; width: 230px; height: 144px }
.wrap-video .video-list img { width: 100%; height: 100%; -webkit-transition: 1.0s; transition: 1.0s }
.wrap-video .video-list p { font-size: 16px; padding: 5px; color: #27446E; font-weight: bold }
.wrap-video .video-list li { margin: 10px; float: left; width: 230px; background: #E8F2FF; position: relative; -webkit-transition: 1.0s; transition: 1.0s; }
.wrap-video .video-list span { font-size: 50px; color: #29A9FF; opacity: 0.8; position: absolute; top: 50%; left: 50%; margin: -42.5px 0 0 -25px; }
.wrap-video .video-list li:hover { background: #91C6FF; }
.wrap-video .video-list li:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }
.wrap-video .video-list li:hover span { -webkit-animation: float 0.5s 0s ease-in-out 2; animation: float 0.5s 0s ease-in-out 2; opacity: 1 }

/*Pjax preloader*/
#pjax-loading { position: relative; width: 140px; height: 140px; margin: 0 auto; background: url(../img/preloader.png)center center no-repeat; display: none}
#pjax-loading:after { content: ""; position: absolute; top: 20px; left: 20px; width: 100px; height: 100px; border-top: solid 3px #91C6FF; border-bottom: solid 3px #91C6FF; border-radius: 100%; -webkit-animation: spin 2s 0s linear infinite; animation: spin 2s 0s linear infinite; }